[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyinstaller = "*"
ddddocr = "*"
webdriver-manager = "*"
selenium = "*"

[requires]
python_version = "3.8"

[dev-packages]
