[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
pylint = "*"
lxml = "*"
pymysql = "*"
openpyxl = "*"
gspread = "*"
oauth2client = "*"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.8"

[dev-packages]
autopep8 = "*"
